@font-face {
  font-family: "sonic";
  src: url("./NiseSegasonic.ttf");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  background-color: white; /**임시**/
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
#main-screen {
  background-color: black; /**임시**/
  width: 700px;
  height: 1000px;
  margin: auto;
  overflow: hidden;
}
#game-screen {
  background-color: #0b2442; /**임시**/
  border: 5px groove #ff8831;
  height: 750px;
}
#game-canvas {
  width: 100%;
  height: 100%;
}

input[type="button"] {
  width: 100px;
  margin: 0 64px;
  border: 1px solid blue;
}
#menu-bar {
  height: 80px;
  display: flex;
  margin: 20px 20px 0 20px;
}
/*아이템 창*/
#items {
  height: 50px;
  background-color: #0b2442;
  border-radius: 50px;
  border: 3px solid #ff8831;
  flex: auto;
}

.item {
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  overflow: hidden;
  display: inline-block;
}

.item_img {
  display: inline;
  float: left;
  margin-left: 10px;
}

.item_count {
  color: white;
  margin-left: 80px;
  font-size: 30px;
}

#ring_count {
  color: white;
  margin-left: 40px;
  font-size: 30px;
}

.press_img {
  display: inline;
  float: left;
}
#pause_btn {
  height: 50px;
  flex: auto;
  margin-left: 110px;
  background-color: #0b2442;
  border: 3px solid #ff8831;
  border-radius: 50px;
  background-image: url("pause_btn.png");
  background-repeat: no-repeat;
}
#level-bar {
  width: 100%;
  height: 70px;
  font-family: sonic, "serif";
  color: #ff8831;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
}
#score-bar {
  width: 100%;
  height: 30px;
  font-family: sonic, "serif";
  color: #17569b;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}
